<html>
  <body>
    <%=session.title%> <br /><br />
    <!-- Name: <%=session.speakers[0].name%><br /><br /> -->
    Name: <%=session.speaker.name%><br /><br />
    Speaker Bio: <%=session.speaker.bio%>
    <p>Description: <%=session.description%><br /><br /></p>
  </body>
</html>
